name: Build and publish documentation

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize


jobs:
  build-docs:
    if: github.repository == 'bambinos/formulae'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout source
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@v0.8.10
        with:
          pixi-version: v0.48.0
          environments: "dev"

      - name: Checkout gh-pages
        uses: actions/checkout@v5
        with:
          ref: gh-pages
          path: docs/_build

      - name: Build documentation
        run: pixi run -e dev sphinx-build docs docs/_build

      - name: Publish documentation to gh-pages
        if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags')
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build
          keep_files: true
